---
import { createLeftNavJson } from "../../create-left-nav-json";
import Html from "../../layouts/Html.astro";
import SideNav from "../../components/SideNav.astro";
import Breadcrumby from "../../islands/Breadcrumby.tsx";
import ThemeDropdown from "../../islands/ThemeDropdown.tsx";
import Footer from "../../components/Footer.astro";

export const prerender = true;

export async function getStaticPaths() {
  const markdowns = Object.entries(
    import.meta.glob("../../markdowns/**/*.md", { eager: true }),
  );

  const pre = markdowns.map(([path, x]) => x);
  const navLinks = await createLeftNavJson(pre);

  return markdowns.map(([path, x]) => {
    const frontmatter = x.frontmatter;
    const Content = x.Content;

    return {
      params: {
        slug: `${frontmatter.parent.toLowerCase()}/${frontmatter.title.toLowerCase()}`,
      },
      props: {
        frontmatter,
        Content,
        navLinks,
      },
    };
  });
}

const { frontmatter, Content, navLinks } = Astro.props;
---

<Html title="Anythreads">
  <div class="px-4 grid grid-cols-5 gap-6 relative top-0">
    <div></div>
    <div class="py-4 col-span-3 relative top-0">
      <div class="h-6.5 relative">
        <div class="flex items-center justify-between sticky top-4 self-start">
          <Breadcrumby client:only />
        </div>
      </div>
      <div class="markdowns pt-12">
        <Content  />
      </div>
    </div>
    <div class="py-4 flex relative top-0">
      <SideNav sideNavJson={navLinks} />
    </div>
  </div>
  <Footer />
</Html>

