@import "tailwindcss";
@plugin '@egoist/tailwindcss-icons';

@theme {
  --color-backg: oklch(0.3732 0.0389 359.04);
  --color-pane: oklch(0.3732 0.0389 359.04);
  --color-txt: oklch(0.8846 0.0152 94.22);

  --shadow-brutal: 4px 4px rgb(82, 82, 82);

  --color-deep-mauve: oklch(0.3732 0.0389 359.04);
  --color-sand: oklch(0.8846 0.0152 94.22);
}

@layer base {
  :root {
    --color-backg: oklch(0.2134 0.0255 291.13);
    --color-pane: oklch(0.2708 0.0423 289.23);
    --color-txt: oklch(0.8846 0.0152 94.22);
  }

  .rose-pine {
    --color-backg: rgb(25, 23, 36);
    --color-pane: rgb(38, 35, 58);
    --color-txt: rgb(224, 222, 244);
  }
  .rose-pine-dawn {
    --color-backg: rgb(255, 250, 243);
    --color-txt: rgb(87, 82, 121);
  }


}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@scope(.markdowns) {
  h1 {
    font-size: 2.75rem;
    /* font-weight: 600; */
    font-family: "Caprasimo", serif;
    font-style: light;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-bottom: 0.25rem;
  }

  p {
    font-size: 1.125rem;
    opacity: 0.85;
  }

  pre {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  hr {
    margin: 4rem 0 2rem 0;
    background-color: var(--color-pane);
    opacity: 0.2;
  }
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
