---
import "../steezy.css";
import SideNav from '../components/SideNav.astro';
import ThemeWrapper from '../islands/ThemeWrapper.tsx';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <ThemeWrapper client:only>
      <slot /> <!-- your content is injected here -->
    </ThemeWrapper>
    <!-- <Footer /> -->
  </body>
</html>
