
<ul>
  <li>
    <span id="icon" class="i-catppuccin-database"></span>
    <span class="text-txt/80"><i>Bring your own database</i>, bun-sqlite, postgres, and more</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-batch"></span>
    <span class="text-txt/80">CLI to create or drop tables, empty rows, and seed data</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-folder-functions"></span>
    <span class="text-txt/80">Namespaced functional APIs for threads, comments, and votes</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-typescript-react"></span>
    <span class="text-txt/80">React library designed for composition, completely unstyled</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-api-blueprint"></span>
    <span class="text-txt/80">Drop in handler for Hono, Nitro, or any Web Request/Response framework</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-stackblitz"></span>
    <span class="text-txt/80">Runs on Node.js, Bun, Deno, and appropriate browser support</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-typescript-test"></span>
    <span class="text-txt/80">Strongly typed and tested (mostly..)</span>
  </li>
  <li>
    <span id="icon"  class="i-catppuccin-git"></span>
    <span class="text-txt/80">Fully open source</span>
  </li>
</ul>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  li {
    display: flex;
    align-items: start;
    gap: 0.5rem;
  }

  li > #icon {
    margin-top: 0.25rem;
  }
</style>
