
<footer class="flex gap-6 text-xs w-full justify-center items-center py-4 px-4">
  <a href="https://github.com/rsms/anythreads" class="opacity-60 transition-opacity hover:opacity-100">
    GitHub
  </a>
  <a href="https://twitter.com/rsms" class="opacity-60 transition-opacity hover:opacity-100">
    Made by @rsbear (Ross Stevens)
  </a>
</footer>
